<%- include('partials/header') -%>

<section class="container">

    <h1><%=user.userName%>'s Message</h1>

    <ul class="row list-unstyled">
        <% for(var i=0; i<messages.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <span><%=messages[i].message%></span>
            <span>Customer: <%=messages[i].customer%></span>
            <span><%=messages[i].date%></span>
          </li>
        <% } %>
    </ul>


    <form action="/admin/replyMessage/<%= messages[0].customer%>" method="POST">
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message"></textarea>
          </div>
        
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    
</section>


<%- include('partials/footer') -%>