<%- include('partials/header') -%>

<section class="container">
    <h1><%=user.userName%>'s Messages</h1>

    <table>
        <thead>
            <tr>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<messages.length; i++) { %>
                <tr>
                    <td><%=messages[i].message%></td>
                    <td><%=messages[i].date%></td>
                </tr>
            <% } %>  
        </tbody>
    </table>


    <form action="/message/createMessage/<%=user._id%>" method="POST">
        <div class="input-field">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message"></textarea>
          </div>
        
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>

    
</section>














<%- include('partials/footer') -%>