<%- include('partials/header') -%>

<section class="container">
    <h1><%=user.userName%>'s Orders</h1>

    <table>
        <thead>
            <tr>
                <th>Cake</th>
                <th>ButterCream</th>
                <th>Filling</th>
                <th>Pick Up Date</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<orders.length; i++) {%>
                <tr>
                    <td><%=orders[i].cake%></td>
                    <td><%=orders[i].butterCream%></td>
                    <td><%=orders[i].filling%></td>
                    <td><%=orders[i].orderPickup%></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <% if (cake != null) { %>
        <h2>Order the <%=cake.name%></h2>

        <form action="/order/createOrder/<%=user._id%>" method="POST">
            <div class="input-field">
                <label for="cake" class="form-label">Cake</label>
                <input type="text" class="form-control" id="cake" name="cake" value="<%=cake.cake%>">
            </div>
            <div class="input-field">
                <label for="butter_cream" class="form-label">Butter Cream</label>
                <input type="text" class="form-control" id="butter_cream" name="butter_cream" value="<%=cake.butterCream%>">
            </div>
            <div class="input-field">
                <label for="filling" class="form-label">Filling</label>
                <input type="text" class="form-control" id="filling" name="filling" value="<%=cake.filling%>">
            </div>
            <div class="input-field">
                <label for="size" class="form-label">Size</label>
                <input type="text" class="form-control" id="size" name="size">
            </div>
            <div>
                <label for="orderPickup" class="form-label">Pick Up Date</label>
                <input type="date" class="form-control" id="orderPickup" name="orderPickup">
    
            </div>
            
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>

    <% } else { %>

    <h2>Place A New Order</h2>

    <form action="/order/createOrder/<%=user._id%>" method="POST">
        <div class="input-field">
            <label for="cake" class="form-label">Cake</label>
            <input type="text" class="form-control" id="cake" name="cake">
        </div>
        <div class="input-field">
            <label for="butter_cream" class="form-label">Butter Cream</label>
            <input type="text" class="form-control" id="butter_cream" name="butter_cream">
        </div>
        <div class="input-field">
            <label for="filling" class="form-label">Filling</label>
            <input type="text" class="form-control" id="filling" name="filling">
        </div>
        <div class="input-field">
            <label for="size" class="form-label">Size</label>
            <input type="text" class="form-control" id="size" name="size">
        </div>
        <div>
            <label for="orderPickup" class="form-label">Pick Up Date</label>
            <input type="date" class="form-control" id="orderPickup" name="orderPickup">

        </div>
        
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    <% } %>

    
</section>














<%- include('partials/footer') -%>
